[Unit]
Description=Phoniebox MQTT Client Service
After=network.target iptables.service firewalld.service

[Service]
User=pi
Group=pi
Restart=always
RestartSec=10
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/home/pi/RPi-Jukebox-RFID/scripts/daemon_mqtt_client.py

[Install]
WantedBy=multi-user.target
