.git
.githooks
.github
.dockerignore
.DS_Store

# Application
docker/*
!docker/Dockerfile.librespot
!docker/Dockerfile.librespot-build
docs
shared
.venv

# webapp
!src/webapp
src/webapp/node_modules
src/webapp/npm-debug.log
src/webapp/build
src/webapp/build.bak
