[flake8]
max-line-length = 127
ignore =
    # continuation line over-indented for hanging indent
    E126,
    # continuation line over-indented for visual indent
    E127,
    # continuation line under-indented for visual indent
    E128,
    # line break before binary operator
    W503
per-file-ignores =
    # Only in __init__files ignore imported but unused
    # Not necessary, if __all__ is declared in __init__ file
    # https://www.python.org/dev/peps/pep-0008/#id48
    __init__.py:F401
count = True
max-complexity = 12
statistics = True
filename = *.py
extend-exclude =
    # Ignore all scratch development directories
    scratch*,
    # Ignore dirs and files that have not been ported yet
    */jukebox/NvManager.py
    # ignore Python venv's
    .venv/*
    # ignore node modules
    */node_modules/*
