# Remove excluded libs, if installed - see https://github.com/MiczFlor/RPi-Jukebox-RFID/pull/2470
# Libraries which must be excluded. These must be removed with
# You need to uninstall these with `python -m pip uninstall -y -r requirements.txt`

RPi.GPIO
