# Library dependencies for the python code.  You need to install these with
# `sudo python3 -m pip install --upgrade --force-reinstall -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# related libraries.
evdev==0.7.0
git+git://github.com/lthiery/SPI-Py.git#egg=spi-py
youtube_dl
pyserial
RPi.GPIO
nfcpy

# Type checking for python
# typing

#### TESTING-RELATED PACKAGES ####

# Checks style, syntax, and other useful errors
# pylint==1.6.5

# We'll use pytest to run our tests; this isn't really necessary to run the code, but it is to run
# the tests.  With this here, you can run the tests with `py.test` from the base directory.
pytest

# Makes it so that pytest can handle the code structure we use, with src/main/python, and src/test.
pytest-pythonpath

# Allows generation of coverage reports with pytest.
pytest-cov

# Allows marking tests as flaky, to be rerun if they fail
# flaky

# Allows codecov to generate coverage reports
coverage
# codecov
