# activationstate for syncronisation on RFID scan
SYNCSHAREDONRFIDSCAN="FALSE"
# server adresse (IP/Hostname)
SYNCSHAREDREMOTESERVER=""
# server port (also used for SSH)
SYNCSHAREDREMOTEPORT=""
# path to the shared files to sync (without trailing slash)
SYNCSHAREDREMOTEPATH=""
# timeout to try to reach the server (in seconds)
SYNCSHAREDREMOTETIMOUT="1"
# synchronisation mode to access the server (SSH or MOUNT)
SYNCSHAREDMODE="MOUNT"
# SSH user
SYNCSHAREDREMOTESSHUSER=""
