[Unit]
Description=Daemon for regular network connection if no hotspot is created
After=multi-user.target

[Service]
Type=simple
ExecStart=wpa_supplicant -i "%%WIFI_INTERFACE%%" -c /etc/wpa_supplicant/wpa_supplicant.conf

[Install]
WantedBy=multi-user.target
