[Unit]
Description=Jukebox Daemon
After=network.target sound.target mpd.service
Requires=mpd.service

[Service]
ExecStart=/usr/bin/python3 run_jukebox.py
WorkingDirectory=/home/pi/RPi-Jukebox-RFID/src/jukebox
StandardOutput=inherit
StandardError=inherit
Restart=always
ConditionUser=!root

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# We currently do shutdown and reboot with sudo
# NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes


[Install]
WantedBy=default.target
