[Unit]
Description=Junkebox-Spotify
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
PermissionsStartOnly=true
WorkingDirectory=HERE_DIR
ExecStartPre=/bin/sh -c 'until ping -c1 spotify.com; do sleep 5; done;'
ExecStart=/usr/bin/java -jar HERE_JAR_FILE

[Install]
WantedBy=multi-user.target
