[Unit]
Description=Jukebox Daemon
# Inverse shutdown ordering keeps the PipeWire Pulse service available while
# the daemon synchronously plays its shutdown jingle and restores the volume.
After=network.target sound.target mpd.service pipewire-pulse.service
Requires=mpd.service pipewire-pulse.service

[Service]
WorkingDirectory=%%INSTALLATION_PATH%%
ExecStart=/bin/bash -c '%%INSTALLATION_PATH%%/run_jukebox.sh'
StandardOutput=inherit
StandardError=inherit
Restart=always
# ConditionUser=!root

#  One of these sandbox settings prevents using sudo shutdown from inside the service
# disallow writing to /usr, /bin, /sbin, ...
# ProtectSystem=yes

# We currently do shutdown and reboot with sudo
# NoNewPrivileges=yes
# ProtectKernelTunables=yes
# ProtectControlGroups=yes
# RestrictNamespaces=yes


[Install]
WantedBy=default.target
