<?php

$conf               = array();
$conf['base_url']   = ""; // usually => "", generally: end with trailing slash
$conf['base_path']  = "/home/pi/RPi-Jukebox-RFID"; // absolute path to folder
$conf['local_url']  = $_SERVER['SERVER_NAME']; // put the fixed IP or Local name here

?>
