[Unit]
Description=Phoniebox Pirate Audio Display Service
After=network.target phoniebox-rfid-reader.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/home/pi/RPi-Jukebox-RFID/components/audio/PirateAudioHAT/pirate_audio_display.py

[Install]
WantedBy=multi-user.target
