# VARIABLES TO CHANGE
# This file is read by scripts/rfid_trigger_play.conf
# It contains the RFID chip IDs which are used to control the Phoniebox.
# Adjust these variables to match your system and configuration.

# If you use cards to change audio level, stop playing or shutdown the RPi,
# replace the following strings with the ID of the card. For example:
# Using the card ID 1234567890 to set the audio to mute, change this line:
# CMDMUTE="mute"
# to the following:
# CMDMUTE="1234567890"
# Leave everything untouched where you do not use a card.
CMDMUTE="%CMDMUTE%"
CMDMAXVOL30="%CMDMAXVOL30%"
CMDMAXVOL50="%CMDMAXVOL50%"
CMDMAXVOL75="%CMDMAXVOL75%"
CMDMAXVOL80="%CMDMAXVOL80%"
CMDMAXVOL85="%CMDMAXVOL85%"
CMDMAXVOL90="%CMDMAXVOL90%"
CMDMAXVOL95="%CMDMAXVOL95%"
CMDMAXVOL100="%CMDMAXVOL100%"
CMDVOL30="%CMDVOL30%"
CMDVOL50="%CMDVOL50%"
CMDVOL75="%CMDVOL75%"
CMDVOL80="%CMDVOL80%"
CMDVOL85="%CMDVOL85%"
CMDVOL90="%CMDVOL90%"
CMDVOL95="%CMDVOL95%"
CMDVOL100="%CMDVOL100%"
CMDVOLUP="%CMDVOLUP%"
CMDVOLDOWN="%CMDVOLDOWN%"
CMDSTOP="%CMDSTOP%"
CMDSHUTDOWN="%CMDSHUTDOWN%"
CMDREBOOT="%CMDREBOOT%"
# The following commands control audio playout
# next and prev play the preivous or next track in the playlist (== folder & spotify)
CMDNEXT="%CMDNEXT%"
CMDPREV="%CMDPREV%"
# The following command restarts the playlist from the beginning
CMDREWIND="%CMDREWIND%"
# seek ahead or back 15 seconds
CMDSEEKFORW="%CMDSEEKFORW%"
CMDSEEKBACK="%CMDSEEKBACK%"
# pause audio playout
CMDPAUSE="%CMDPAUSE%"
# resume audio playout (makes only sense in combination with pause)
CMDPLAY="%CMDPLAY%"
# Timer top stop after x minutes
STOPAFTER5="%STOPAFTER5%"
STOPAFTER15="%STOPAFTER15%"
STOPAFTER30="%STOPAFTER30%"
STOPAFTER60="%STOPAFTER60%"
# Timer top shutdown after x minutes
SHUTDOWNAFTER5="%SHUTDOWNAFTER5%"
SHUTDOWNAFTER15="%SHUTDOWNAFTER15%"
SHUTDOWNAFTER30="%SHUTDOWNAFTER30%"
SHUTDOWNAFTER60="%SHUTDOWNAFTER60%"
# Toggle wifi like in airplane mode
ENABLEWIFI="%ENABLEWIFI%"
DISABLEWIFI="%DISABLEWIFI%"
# Toggle Shuffle mode
CMDSHUFFLE="%CMDSHUFFLE%"
#Controll commands for Audio Recording
# the first two are legacy name spaces
STARTRECORD600="%STARTRECORD600%"
STOPRECORD="%STOPRECORD%"
RECORDSTOP="%RECORDSTOP%"
RECORDSTART10="%RECORDSTART10%"
RECORDSTART60="%RECORDSTART60%"
RECORDSTART600="%RECORDSTART600%"
RECORDPLAYBACKLATEST="%RECORDPLAYBACKLATEST%"
# Custom Playlist
CMDPLAYCUSTOMPLS="%CMDPLAYCUSTOMPLS%"
