# VARIABLES TO CHANGE
# This file is read by scripts/rfid_trigger_play.sh
# It contains the RFID chip IDs which are used to control the Phoniebox.
# Adjust these variables to match your system and configuration.

# If you use cards to change audio level, stop playing or shutdown the RPi,
# replace the following strings with the ID of the card. For example:
# Using the card ID 1234567890 to set the audio to mute, change this line:
# CMDMUTE="%CMDMUTE%"
# to the following:
# CMDMUTE="1234567890"
# Leave everything untouched where you do not use a card.

## Audio player
# The following commands control audio playout
# next and prev play the previous or next track in the playlist (== folder & spotify)
### Volume up by one step
CMDVOLUP="%CMDVOLUP%"
### Volume down by one step
CMDVOLDOWN="%CMDVOLDOWN%"
### Stop player
CMDSTOP="%CMDSTOP%"
### Mute player
CMDMUTE="%CMDMUTE%"
### Skip to next track in playlist
CMDNEXT="%CMDNEXT%"
### Skip to previous track in playlist
CMDPREV="%CMDPREV%"
### Restart the playlist from the beginning
CMDREWIND="%CMDREWIND%"
### Seek ahead 15 seconds
CMDSEEKFORW="%CMDSEEKFORW%"
### Seek back 15 seconds
CMDSEEKBACK="%CMDSEEKBACK%"
### Pause audio playout
CMDPAUSE="%CMDPAUSE%"
### Resume audio playout (makes only sense in combination with pause)
CMDPLAY="%CMDPLAY%"

## Playlist
### Toggles shuffle mode for current playlist (random on/off)
CMDSHUFFLE="%CMDSHUFFLE%"
### Play custom playlist
CMDPLAYCUSTOMPLS="%CMDPLAYCUSTOMPLS%"

## Set volume (in percent)
CMDVOL30="%CMDVOL30%"
CMDVOL50="%CMDVOL50%"
CMDVOL75="%CMDVOL75%"
CMDVOL80="%CMDVOL80%"
CMDVOL85="%CMDVOL85%"
CMDVOL90="%CMDVOL90%"
CMDVOL95="%CMDVOL95%"
CMDVOL100="%CMDVOL100%"
CMDSHUTDOWN="%CMDSHUTDOWN%"
CMDREBOOT="%CMDREBOOT%"

## Set maximum volume (in percent)
CMDMAXVOL30="%CMDMAXVOL30%"
CMDMAXVOL50="%CMDMAXVOL50%"
CMDMAXVOL75="%CMDMAXVOL75%"
CMDMAXVOL80="%CMDMAXVOL80%"
CMDMAXVOL85="%CMDMAXVOL85%"
CMDMAXVOL90="%CMDMAXVOL90%"
CMDMAXVOL95="%CMDMAXVOL95%"
CMDMAXVOL100="%CMDMAXVOL100%"

## Timer: stop after x minutes
STOPAFTER5="%STOPAFTER5%"
STOPAFTER15="%STOPAFTER15%"
STOPAFTER30="%STOPAFTER30%"
STOPAFTER60="%STOPAFTER60%"

## Timer: shutdown after x minutes
SHUTDOWNAFTER5="%SHUTDOWNAFTER5%"
SHUTDOWNAFTER15="%SHUTDOWNAFTER15%"
SHUTDOWNAFTER30="%SHUTDOWNAFTER30%"
SHUTDOWNAFTER60="%SHUTDOWNAFTER60%"

## Wifi: switch on/off and other
### Enable Wifi
ENABLEWIFI="%ENABLEWIFI%"
### Disable Wifi
DISABLEWIFI="%DISABLEWIFI%"
### Read out the Wifi IP over the Phoniebox speakers
CMDREADWIFIIP="%CMDREADWIFIIP%"

## Control commands for Audio Recording
### Start recording for 10 sec duration
RECORDSTART10="%RECORDSTART10%"
### Start recording for 60 sec duration
RECORDSTART60="%RECORDSTART60%"
### Start recording for 600 sec duration
RECORDSTART600="%RECORDSTART600%"
### Stop recording
RECORDSTOP="%RECORDSTOP%"
### Replay latest recording
RECORDPLAYBACKLATEST="%RECORDPLAYBACKLATEST%"
