#!/usr/bin/python3
import RPi.GPIO as GPIO
from signal import pause
from subprocess import check_call

# This script will block any I2S DAC e.g. from Hifiberry, Justboom, ES9023, PCM5102A
# due to the assignment of GPIO 19 and 21 to a buttons

# 2018-10-31
# Added the function on holding volume + - buttons to change the volume in 0.3s interval
#
# 2018-10-15
# this script has the `pull_up=True` for all pins. See the following link for additional info: 
# https://github.com/MiczFlor/RPi-Jukebox-RFID/issues/259#issuecomment-430007446
#
# 2017-12-12
# This script was copied from the following RPi forum post:
# https://forum-raspberrypi.de/forum/thread/13144-projekt-jukebox4kids-jukebox-fuer-kinder/?postID=312257#post312257
# I have not yet had the time to test is, so I placed it in the misc folder.
# If anybody has ideas or tests or experience regarding this solution, please create pull requests or contact me.

def def_shutdown():
    
    # TODO: Handle hold time and shutdown here
    
    # Power led blinks two times which gives feedback to listener that the
    # shutdown request was understood and the phoniebox is going down.
    pled.blink(on_time=0.3, off_time=0.3, n=2, background=False)
    # After blinking two times the power led stays on until shutdown completes
    # When the led continues blinking during shutdown it might go off caused
    # by blinking and then the GPIO might be unable to be controlled anymore
    # caused by shutdown. In that case the pi looks like it is already off - which it is not
    # To avoid this switch it back on and it will stay on until pi shutdown is complete.
    GPIO.output(LEDGPIO, GPIO.HIGH)
    check_call("./scripts/playout_controls.sh -c=shutdown", shell=True)

def def_volU():
    check_call("./scripts/playout_controls.sh -c=volumeup", shell=True)

def def_volD():
    check_call("./scripts/playout_controls.sh -c=volumedown", shell=True)

def def_vol0():
    check_call("./scripts/playout_controls.sh -c=mute", shell=True)

def def_next():
    check_call("./scripts/playout_controls.sh -c=playernext", shell=True)

def def_prev():
    check_call("./scripts/playout_controls.sh -c=playerprev", shell=True)

def def_halt():
    check_call("./scripts/playout_controls.sh -c=playerpause", shell=True)

def def_recordstart():
    check_call("./scripts/playout_controls.sh -c=recordstart", shell=True)

def def_recordstop():
    check_call("./scripts/playout_controls.sh -c=recordstop", shell=True)

def def_recordplaylatest():
    check_call("./scripts/playout_controls.sh -c=recordplaylatest", shell=True)

shut = 3
pled = 7
vol0 = 13
volU = 16
volD = 19
next = 26
prev = 20
halt = 21
#reco =
#play =

GPIO.setmode(GPIO.BCM)
bouncetime = 500

GPIO.setup(shut, GPIO.IN, pull_up_down=GPIO.PUD_UP)
# GPIO 7 - Pin 26
GPIO.setup(7, GPIO.OUT)

GPIO.setup(vol0, GPIO.IN, pull_up_down=GPIO.PUD_UP)
GPIO.setup(volU, GPIO.IN, pull_up_down=GPIO.PUD_UP)
GPIO.setup(volD, GPIO.IN, pull_up_down=GPIO.PUD_UP)
GPIO.setup(next, GPIO.IN, pull_up_down=GPIO.PUD_UP)
GPIO.setup(prev, GPIO.IN, pull_up_down=GPIO.PUD_UP)
GPIO.setup(halt, GPIO.IN, pull_up_down=GPIO.PUD_UP)

# TODO: 2s hold!
GPIO.add_event_detect(shut, GPIO.FALLING, callback=def_shutdown, bouncetime=bouncetime)
GPIO.add_event_detect(vol0, GPIO.FALLING, callback=def_vol0, bouncetime=bouncetime)
GPIO.add_event_detect(volU, GPIO.FALLING, callback=def_volU, bouncetime=bouncetime)
#When the Volume Up button was held for more than 0.3 seconds every 0.3 seconds he will call a ra$
# TODO: 0.3s hold!
GPIO.add_event_detect(volU, GPIO.FALLING, callback=def_volU, bouncetime=bouncetime)
# TODO: 0.3s hold!
GPIO.add_event_detect(volD, GPIO.FALLING, callback=def_volD, bouncetime=bouncetime)
#When the Volume Down button was held for more than 0.3 seconds every 0.3 seconds he will lower t$
GPIO.add_event_detect(next, GPIO.FALLING, callback=def_next, bouncetime=bouncetime)
GPIO.add_event_detect(prev, GPIO.FALLING, callback=def_prev, bouncetime=bouncetime)
GPIO.add_event_detect(halt, GPIO.FALLING, callback=def_halt, bouncetime=bouncetime)
#reco.when_pressed = def_recordstart
#reco.when_released = def_recordstop
#play.when_pressed = def_recordplaylatest

# Switch on power led after boot to indicate state "on" for phoniebox
GPIO.output(LEDGPIO, GPIO.HIGH)

pause()
