# interface and driver
interface=wlan0
#driver=nl80211

# WLAN-config
ssid=jukebox
channel=1
hw_mode=g
ieee80211n=1
ieee80211d=1
country_code=DE
wmm_enabled=1

# WLAN-encryption
auth_algs=1
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=Pl4yM3N0w

