[Unit]
Description=Phoniebox GPIO Buttons Service
After=network.target iptables.service firewalld.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/home/pi/RPi-Jukebox-RFID/scripts/gpio-buttons.py

[Install]
WantedBy=multi-user.target
