[Unit]
Description=Phoniebox Rotary Encoder Service
After=network.target iptables.service firewalld.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/usr/bin/python3 /home/pi/RPi-Jukebox-RFID/scripts/rotary-encoder.py

[Install]
WantedBy=multi-user.target
