[Unit]
Description=Phoniebox Rotary Encoder Service
After=network.target iptables.service firewalld.service

[Service]
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/usr/bin/python2 /home/pi/RPi-Jukebox-RFID/scripts/rotary-encoder.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
