[Unit]
Description=Phoniebox Bluetooth Buttons Service
After=network.target

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID/components/bt-headphones
ExecStart=/home/pi/RPi-Jukebox-RFID/components/bt-headphones/bt-buttons.py > /dev/null

[Install]
WantedBy=multi-user.target
