[Unit]  
Description=Phoniebox Idle Watchdog Service
After=network.target iptables.service firewalld.service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/home/pi/RPi-Jukebox-RFID/scripts/idle-watchdog.sh

[Install]
WantedBy=multi-user.target
