version: "3.9"

services:
  mpd:
    volumes:
      - ~/.config/pulse:/root/.config/pulse
      - /usr/local/Cellar/pulseaudio/14.2/etc/pulse:/etc/pulse

  jukebox:
    volumes:
      - ~/.config/pulse:/root/.config/pulse
      - /usr/local/Cellar/pulseaudio/14.2/etc/pulse:/etc/pulse
