{
  "player_status": {
    "last_played_folder": "b/bb",
    "CURRENTSONGPOS": "18",
    "CURRENTFILENAME": "bbb.mp3"
  },
  "audio_folder_status": {
    "a/aa": {
      "CURRENTFILENAME": "aaa.mp3",
      "ELAPSED": "114.455",
      "PLAYSTATUS": "Stopped",
      "RESUME": "OFF",
      "SHUFFLE": "OFF",
      "LOOP": "OFF",
      "SINGLE": "OFF",
      "CURRENTSONGPOS": "2"
    },
    "b/bb": {
      "CURRENTFILENAME": "bbb.mp3",
      "ELAPSED": "200.556",
      "PLAYSTATUS": "Stopped",
      "RESUME": "OFF",
      "SHUFFLE": "OFF",
      "LOOP": "OFF",
      "SINGLE": "OFF",
      "CURRENTSONGPOS": "4"
    },
    "c/cc/cccc": {
      "CURRENTFILENAME": "ccccc.mp3",
      "ELAPSED": 0,
      "PLAYSTATUS": "Stopped",
      "RESUME": "OFF",
      "SHUFFLE": "OFF",
      "LOOP": "OFF",
      "SINGLE": "OFF"
    }
  }
}