{
  "104,49914": {
    "object": "player",
    "method": "playlistaddplay",
    "params": {
      "folder": "music 1"
    }
  },
  "103,12632": {
    "object": "player",
    "method": "playlistaddplay",
    "params": {
      "folder": "music 2"
    }
  },
  "104,29698": {
    "object": "player",
    "method": "playlistaddplay",
    "params": {
      "folder": "music 3"
    }
  },
  "108,07437": {
    "object": "player",
    "method": "playlistaddplay",
    "params": {
      "url": "url 1"
    }
  },
  "107,60360": {
    "object": "system",
    "method": "shutdown",
    "params": {}
  },
  "106,64513": {
    "object": "",
    "method": "",
    "params": {}
  },
  "104,14891": {
    "object": "",
    "method": "",
    "params": {}
  },
  "103,24033": {
    "object": "",
    "method": "",
    "params": {}
  },
  "104,32860": {
    "object": "",
    "method": "",
    "params": {}
  }
}